body{
}



.container{
    width:80%;
    margin:auto;
}
.clearfix{clear:both;}
/*start header*/
.header .slider{
    height:600px;
    background-image: url("../images/slider.jpg");
    background-size: cover;
}
.header .slider .intro{
    padding-top:250px;
    text-align: center;
    color:red;
}
.header .slider .intro h2{
    border-top:4px solid #aaa;
    border-bottom:4px solid #aaa;
    font-size:50px;
    margin:auto;
}
.header .slider .intro button{
    margin-top:40px;
    padding:10px 20px;
    font-size:15px;
    color:#CE041B;
    background: none;
    font-weight:bold;
    border:3px solid #ce041b;
}
 .header .navbar{
    background-color: #252f31;
    color:#fff;
    overflow: hidden;
}
.header .navbar h2{
    float:left;
        text-transform: uppercase;

}
 .header .navbar h2 span{color:#2ecc71}
 .header .navbar ul{
    list-style: none;
    padding-left: 0;
    overflow:hidden;
    float:right;
}
.header .navbar ul li{
    
    float:left;
    padding:10px;
}
.header .navbar ul li a{
    text-decoration: none;
    color:#fff;
}
.header .navbar ul li.active a{
    color:#2CD32C;
}
.header .navbar ul li a:hover{
    color:#2CD32C;
    border:3px solid #fff;
    
}
/*end header*/
/*start features*/
.features{
    overflow:hidden;
    padding-top:40px;
    padding-bottom: 80px;
    
}
.features .feat{
    float:left;
    width:33.333333%;
    height:150px;
    box-sizing: border-box;
}
.features .feat h2{
    color:#555;
}
.features .feat p{
    line-height: 1.5;
    color:#888;
}
/*end fetures*/
/*start about me*/
.containerA{
    width:100%;
    margin:auto;
    box-sizing: border-box;
}
.about-me{
    background-color: #f2f2f2;
    overflow:hidden;
}
.about-me .image{
    float:left;
    width:30%;
    
}
.about-me .image img{width:100%;
height:567px;

}
.about-me .info{
    float:left;
    width:60%;
    margin-left: 10px;
}
.about-me .info h2{
    margin:30px  0 20px 30px;    /*top right bottom left*/
}
.about-me .info >p{
    margin:0 0 10px 30px;
    line-height: 1.7;
    color:#666;
}
.about-me .info  p:last-of-type{
    margin-top:30px;;      /* or write margin-top:20px*/
}
.about-me .info p{
    color:#666;
    line-height:1.7;
}
.about-me .info .hobbies{
    overflow: hidden;
    margin:20px 0 0 30px;
}


.about-me .info .hobbies .content{
    width:50%;
    overflow:hidden;
    float:left;
    box-sizing: border-box;
    min-height:100px;
    
}
.about-me .info .hobbies .content .icon{
    width:12%;
    float:left;
}
.about-me .info .hobbies .content .icon i{
   
    padding-top:10px;/*top right bottom left*/
    max-width:100%;
    margin-left:20px;
}
.about-me .info .hobbies .content .text{
    float:left;
    width:84%;
    margin-left:2%;
}
.about-me .info .hobbies .content .text h3{
   margin-left:20px; 
}

/*end about me*/
/*start myskills*/
.my-skills{
    overflow:hidden;
    padding-bottom:50px;
    padding-top:30px;
}
.my-skills .skills,.my-skills .progress{
    width:50%;
    float:left;
}
.my-skills .skills h2{
 color:#555;
    margin:30px  0 20px 30px;    /*top right bottom left*/

}
.my-skills .skills p{
 color:#666;
 line-height: 1.5;
     margin:0 0 10px 30px;
}
.my-skills .skills p:last-of-type{
 margin-top:30px
 
}


.my-skills .skills button{
    margin:20px  0 20px 40px;
    padding:10px 30px ;
}
.my-skills .skills .my-button{
    background: none;
    border:3px solid #2dcc70;
    font-weight: bold;
    color:#2DCC70;
}
.my-skills .progress .technique{
 margin-left:50px
}
.my-skills .progress .technique h3{
 color:#555;
 
} 
.my-skills .progress .technique div{
 background-color: #f2f2f2;
 height:20px;
 
}
.my-skills .progress .technique div span{
 background-color: #2dcc70;
 display:block;
 height:20px;
 line-height: 20px;
 text-align: right;
 color:#fff;
 font-weight: bold;
}

/*end my skills*/
/*start resume*/
.resume{
    background-color: #f2f2f2;
    padding-bottom: 70px;
    padding-top:50px;
    text-align: center;
}
.resume h2{
 color:#555;
 font-weight: bold;
}
.resume p{
 color:#666;
}
.resume button{
 margin-top:20px;
 background: none;
 border:3px solid #2dcc70;
 font-weight: bold;
 padding:10px 20px;
 color:#2dcc70
 
}
/*end resume*/
/*start my education*/
.my-education{
    overflow:hidden;
    padding-bottom:30px;
    padding-top:30px;
}
.my-education .main{
    width:50%;
    float:left;
    margin-right:5%;
}
.my-education .exp{
 float:left;
 width:45%;
}
.my-education .main h2{
 color:#555;
 margin:25px 0 20px 40px;
}
.my-education .main p{
 color:#666;
 line-height: 1.5;
 margin:0 0 10px 40px;
}
.my-education .main p:last-of-type{margin-top:25px;}
.my-education .exp h3 {
 margin-top:80px;
 margin-bottom:20px;
 color:#555;
}
.my-education .exp span{

display:block;
margin-bottom: 10px;
}
.my-education .exp span:first-of-type{
 margin-bottom:20px;
 color:#666;
}

.my-education .exp span:last-of-type{
 width:10px;
 background: #2dcc70;
 color:#fff;
 padding:3px 6px;
 display:inline;
 }
.my-education .exp hr{
 margin:30px 0  10px 0;  /*top right bootom left*/
 width:97%;
 height:1px;
 background-color: #999;
 border:0; 
}
.my-education .exp p{
 color:#666;
 line-height:1.5;
}

/*end my education*/
/*start testimonilas*/
.testimonilas{
    background-color: #f2f2f2;
    padding-bottom: 50px;
    padding-top:70px;
    text-align: center;
  /*  margin-bottom: 30px;*/
}
.testimonilas q{
 color:#666;
 line-height: 1.8;
 font-size:18px;
 font-weight: bold;
 font-style: italic;
 font-family: Tahoma,Arial ;
}
.testimonilas h3{
 color:#555;
 margin-bottom: 30px
}
.testimonilas ul{
 list-style: none;
padding-left: 0;
 text-align: center;
 
}
.testimonilas ul li:first-of-type,.testimonilas ul li:hover{background: #2dcc70}
.testimonilas ul li{
 display:inline-block;
 border:2px solid #2dcc70;
 border-radius: 50%;
 width:5px;
 height:5px;
 cursor:pointer;
 

 
}
/*end testimonilas*/
/*start portflio*/
.portfolio{
    background-color: #fff;
    padding-bottom:30px;
    padding-top:30px;
    text-align: center;
}
.portfolio p{
    padding: 10px 0 30px 0;
}
.paragraph{
    line-height: 1.5;
}
.portfolio .our-work {
    overflow: hidden;
    }
    .portfolio .our-work >div{
        float:left;
        width:33.3333%;
        margin-bottom:30px;
        }

.portfolio .our-work >div img {
    width: 92%;
    margin: 10px;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 10px 10px #ccc;
}

/*end portfolio*/
/*start contact me*/
.contact-me
{
    background-color:#252f31;
    overflow:hidden;
    padding-bottom: 50px;
    padding-top:50px;
}
.contact-me h2{
 color:#fff;
margin-left:40px;
}
.contact-me p{
 color:#6a6e71;
margin-left: 40px;
line-height: 1.7

}
.contact-me address{
 color:#6a6e71;
margin-left: 40px;

}
.contact-me p strong{color:#fff}
.contact-me .information{
    width:50%;
    float:left;
}
.contact-me .form{
 float:left;
 width:45%;
 margin-left: 5%;
}
.contact-me .form label{
 display: block;
 margin-bottom: 20px;
 color:#f9f3f3;
 margin-top:20px;
 }
 .contact-me .form input[type="text"]{
  background-color:#4b5557;
  width:80%;
  color:#fff;
  padding:10px;
  border-radius: 10px;
  margin-bottom:20px; 
  border:0;
  }
  .contact-me .form input[type="email"]{
  background-color:#4b5557;
  width:80%;
  color:#fff;
  padding:10px;
  border-radius: 10px;
  margin-bottom:20px; 
  border:0;
  }
  .contact-me .form textarea{
   background-color:#4b5557;
  width:80%;
  color:#fff;
  padding:10px;
  border-radius: 10px;
  border:0;
  }
  .contact-me .form input[type="submit"]{
   color:#fff;
   background:#4b5557;
   border:0;
   border-radius: 10px;
   padding:10px 20px;
   margin-top:20px;
  }

/*end contaact me*/
/*start footer*/
.footer{
    background-color:#191e22;
    color:#6a6e71;
    text-align: center;
    padding:30px  0 40px 0;
    overflow: hidden;
}
.footer .footer-right,.footer .footer-left{
 float:left;
 width:50%;
}
.footer-left ul{
 list-style:none;
padding-left:0;
}


.footer-left ul li {
 display:inline-block;
 margin:2px;
}
.footer-left ul li a{
 text-decoration: none;
 color:#999;
}
.footer-right a{
 text-decoration: none;
 color:#999
}

/*end footer*/